<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @comment.article_id %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @comment.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @comment.updated_at %>
</p>

<p>
  <b>Position:</b>
  <%= @comment.position %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
