<section id="article_comments" class="yui3-u-1 round">

  <div id="show_comments">
    <% @article.comments.each do |comment| %>
    <div class="">
      <%= comment.name %>
    </div>

    <div>
      <%= comment.content %>
    </div>
    <% end %>
  </div>

  <div>
    <ul class="nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
    </ul>
  </div>

  <div id="post_comments">
    <%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, :rows => '4' %>
    </div>
    <div class="actions">
      <%= f.submit "Post Comment"%>
    </div>
    <% end %>
  </div>

</section> <!-- end article comments -->
