<section id="admin" class="round fluid-row">
  <p class="indent_left">Admin Options => 
    <span><%= link_to 'Create Article', new_article_path %>
    </span>
  </p>
</section>

<section class="list_brief round fluid-row pull-left span9">

  <% @articles.each do |article| %>

  <header class="fluid-row">
    <section class="list_image thumbnail pull-left span2">
      <img>
        <%= image_tag(article.image_url, :size => "75x75") %>
      <img>
    </section>

    <section class="list_text fluid-row pull-right span6">
      <p class="list_position">
        <strong>Article
          <span>#<%= article.position %> - </span>
        </strong>
          <span><%= article.published_at.strftime('%b %d, %Y') %><span>
      </p>

      <p class="list_title">
        <strong>
          <span><%= link_to article.title, article%></span>
        </strong>
      </p>

      <p class="list_intro">
        <%= truncate(strip_tags(article.introduction), 
          :length => 500, :separator => ' ') %>..
        <%= link_to 'read more', article %>
      </p>
    </section>
  </header>
  <% end %>
</section>

<section class="list_tag round pull-right span3">
  <ul class="nav nav-list">
    <li class="nav-header">
      Article Types
    </li>
    <li class="active">
      <a href="#"><i class="icon-book"></i>
        Historical</a>
    </li>
    <li><a href="#">People</a></li>
    <li><a href="#">Tools</a></li>
    <li class="nav-header">Article Categories</li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Toys</a></li>
    <li><a href="#">Peoples</a></li>
    <li><a href="#">Fish</a></li>
    <li><a href="#">Garage</a></li>
    <li><a href="#">Kitchen</a></li>
  </ul>
</section>

<section class="list_paginate round fluid-row span9 pull-left">
  <%= will_paginate :previous_label => h("Previous Article"), :next_label => h("Next Article") %>
</section>
