<article id="main" class="yui3-u-1">

  <section>

    <% @articles.each do |article| %>

      <h2 class="list-title link_to">
        <%= article.title %>
      </h1>

      <img class="yui3-u-1">
        <%= image_tag(article.image_url, class: 'list_image', 
          :size => "150x150") %>
      <img>

      <p class="list_introduction yui3-u-1-3">
        <%= truncate(strip_tags(article.introduction), 
          length: 200) %>
        <%= link_to 'Read', article %>
      </p>

      <nav class="list_actions">
        <ul>
          <li><%= link_to 'Edit', edit_article_path(article) %></li>
          <li><%= link_to 'Destroy', article, 
            confirm: 'Are you sure?',
            method: :delete %></li>
        </ul>
      </nav>
      
    <% end %>

  </section>

  <aside id="links">
  <%= link_to 'New Article', new_article_path %>
  </aside>

</article>