<article id="main" class="yui3-u-1">

  <section id="notice"><%= notice %></section>

  <h1>#<%= @article.position %> <%= @article.title %></h1>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
  
  <h3>Published</h3>
  <%= @article.published_at.strftime('%b %d, %Y') %>
  <h3>Updated</h3>
  <%= @article.updated_at.strftime('%b %d, %Y') %>

  <p class="first"><%= @article.introduction %></p>
  <%= image_tag "ruby.png", :alt => 'Geneva Bible' %>
  <p><%= @article.description %></p>

</article>

<article id="main" class="yui3-u-1">
  <nav class="yui3-g round">
    <ul class="yui3-u-1">
      <%= link_to "Footnotes" %><%= @article.footnotes %> |
      <%= link_to "Comments" %><%= @article.comments_count %> |
      <%= link_to "Similar Articles" %> |
      <%= link_to "Previous Article" %> |
      <%= link_to "Next Article" %>
    </ul>
  </nav>
</article>

<div id="show_comments">
  <% if @comments %>

    <h3>Comments</h3>

    <% for comment in @comments do %>
      <p><strong><%=h(comment.name) %></strong>:</p>
      <%=h comment.content %>
    <% end %>

  <% end %>
</div>

<div id="post_comments">
  <h3>Post Your Comment</h3>
  <% form_for([@article, Comment.new]) do |form| %>
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name %></p>

    <p><%= form.label :content, 'Comment' %></p>
    <p><%= form.text_area :content %></p>

    <%= form.submit 'Save' %>
  <% end %>
</div>
