<section id="admin" class="yui3-u-1 round">
  <p class="indent_left">Admin Options => 
    <span><%= link_to 'Edit', edit_article_path(@article) %> |
    </span>
    <span><%= link_to 'Destroy', @article, 
        confirm: 'Are you sure?', 
        method: :delete %>
    </span>
  </p>
</section>



<header class="article_head yui3-u-1 round">
  <section class="article_image yui3-u-1-5 article_gutter">
    <img>
      <%= image_tag(@article.image_url, :size => "100x100") %>
    <img>
  </section>

  <section class="article_text yui3-u-3-4">

    <p class="article_title">#
      <%= @article.position %>
      <%= @article.title %>
    </p>

    <p class="article_sub_title">
      <%= @article.published_at.strftime('%b %d, %Y') %> |
      <%= link_to "tag 1", root_url %> |
      <%= link_to "tag 2", root_url %>
    </p>

    <p class="article_intro yui3-u-3-4 round first">
      <%= @article.introduction %>
    </p>
  </section>
</header>

<article class="yui3-u-1 round">
  <div id="tabs">
    <nav class="article-nav">
      <ul class="left-indent">
        <li class="accent"><a href="#tabs-1"><%= @article.title %></a></li>
        <li class="accent"><a href="#tabs-2">Images</a></li>	
        <li class="accent"><a href="#tabs-3">Footnotes</a></li>
        <li class="accent"><a href="#tabs-4">Comments</a></li>
        <li class="accent"><a href="#tabs-5">Similar Articles</a></li>
        <li class="accent"><a href="#tabs-6">Previous Article</a></li>
        <li class="accent"><a href="#tabs-7">Next Article</a></li>
      </ul>
    </nav>

    <section class="article yui3-u-1 round">
      <div id="tabs-1"><%= render 'article' %></div>
      <div id="tabs-2"><%= render 'images' %></div>
      <div id="tabs-3"><%= render 'footnotes' %></div>
      <div id="tabs-4"><%= render 'comments' %></div>
    </section>
  </div>
</article>
