<nav class="yui3-g round">
  <ul class="yui3-u-1">
    <%= link_to "Front Cover", front_cover_path %>
    <%= link_to "Contents", root_url %>
    <%= link_to "Preface", preface_path %>
    <%= link_to "Acknowledgements", acknowledge_path %>
    <%= link_to "About", about_book_path %>
    <%= link_to "Author", about_author_path %>
    <%= link_to "Browse Articles", root_url %>
    <%= link_to "Colophon", colophon_path %>
    <%= link_to "Back Cover", back_cover_path %>
  </ul>
</nav>
