<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
     More info: h5bp.com/b/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title><%= title %></title>

<meta name="description" content="The Book of Jack - an entertaining exploration of the name jack, its usage and origin as well as the sound dzh.">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
<%= favicon_link_tag 'favicon.ico' %>

<%= stylesheet_link_tag 'application' %>

<meta http-equiv="Content-Type" content="text/html" />

<meta name="google-site-verification" 	content="2rOMgnamb1F023yDGFaDxAVCWxT1J9EPSjWmfbpsSZw" />

<%= csrf_meta_tags %>

<!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js. Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects; for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
<script type="text/javascript" src="vendor/assets/javascripts/modernizr/modernizr-2.0.6.min.js"></script>

<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?&sensor=false">
</script>

<%= yield(:head) %>
