<!DOCTYPE html>
<html lang="en-CA">
  
  <head id='head'>
    <title>Book of Jack</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">

  <meta name="google-site-verification" 	content="2rOMgnamb1F023yDGFaDxAVCWxT1J9EPSjWmfbpsSZw" />

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <!-- jQuery Mobile stylesheet file -->
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />

  <%= javascript_include_tag 'application' %>
  <!-- jQuery Mobile javaScript files. -->
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <%= csrf_meta_tags %>

  <%= yield(:head) %>
  
  </head>
  
  <body id="container">
    
    <header id='header'><!-- This is the first page of the mobile site-->
    <section id="ch0-pg1" data-role="page" data-fullscreen="true" data-theme="e">

    <header data-role="header" data-position="" data-theme="e">
      <%= link_to "Home", :mobile => 1 %>
      <h1>The Book of Jack</h1>
      <a href="#" data-role="button" data-inline="true" class="ui-btn-right" data-icon="gear">Options</a>

    </header>

    
    </head>
    
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>

    
     <nav data-role="navbar">   
        <div data-role="fieldcontain">
            <input type="search" name="search" id="search" value="" placeholder="Search the site" />
          </div>

      </nav>

      <div data-role="content">
        <%=  %>
      </div>

      <footer data-role="footer" class="ui-bar" data-position="" data-theme="e">
        <a href="#" data-role="button" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Back</a>
        <a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Forward</a>
     <%= link_to "Desktop", root_url(:mobile => 0), :class => "button", :rel => "external" %> </footer>

    </section>
<% unless flash.empty? %>
  <div class="info">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
  </div>
<% end %>

<%= yield %>

</body>

</html>